<% layout('layouts/template') %> 

<main class="form-signin">
    <div class="row">
        <div class="col-6 offset-3">
            <form action="/login" method="post" novalidate class="validate-form">
            <h1 class="h3 my-3 fw-normal">Please sign in</h1>
        
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter a your username" required>
                <label for="username">Username</label>
                <div class="invalid-feedback">
                    Please Enter a username!
                </div>
                
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                <label for="password">Password</label>
                <div class="invalid-feedback">
                    Please Enter a password!
                </div>
            </div>
        
            <div class="checkbox mb-3">
                <label>
                <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <a class="w-100 mt-3 btn btn-warning" href="/register" role="button">Sign-up</a>
            <p class="mt-5 mb-3 text-center text-muted">&copy; 2021–2022</p>
            </form>
        </div>
    </div>
  </main>